<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>padding</key>
	<string>0</string>
	<key>trigger1</key>
	<string>emoji</string>
	<key>trigger2</key>
	<string>emoji refresh</string>
</dict>
</plist>
