<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.lanata.fake-type</string>
	<key>connections</key>
	<dict>
		<key>D98EA05C-4C68-4C09-BBBC-5C511DCA238A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7D03CDE-6D8B-4B31-AE4F-77F7E839AC1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gabriel Lanata</string>
	<key>description</key>
	<string>Pretend to type</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fake Type</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 - "$1" &lt;&lt; 'PYEOF'
import sys, time, ctypes, ctypes.util

cg = ctypes.cdll.LoadLibrary(ctypes.util.find_library("CoreGraphics"))
cf = ctypes.cdll.LoadLibrary(ctypes.util.find_library("CoreFoundation"))

cg.CGEventCreateKeyboardEvent.argtypes = [ctypes.c_void_p, ctypes.c_uint16, ctypes.c_bool]
cg.CGEventCreateKeyboardEvent.restype = ctypes.c_void_p
cg.CGEventPost.argtypes = [ctypes.c_uint32, ctypes.c_void_p]
cg.CGEventSetFlags.argtypes = [ctypes.c_void_p, ctypes.c_uint64]
cf.CFRelease.argtypes = [ctypes.c_void_p]

SHIFT = 0x00020000
KEY = {
    "a":0,"b":11,"c":8,"d":2,"e":14,"f":3,"g":5,"h":4,
    "i":34,"j":38,"k":40,"l":37,"m":46,"n":45,"o":31,"p":35,
    "q":12,"r":15,"s":1,"t":17,"u":32,"v":9,"w":13,"x":7,
    "y":16,"z":6," ":49,"-":27,"=":24,"[":33,"]":30,
    "\\":42,";":41,"'":39,",":43,".":47,"/":44,"`":50,
    "0":29,"1":18,"2":19,"3":20,"4":21,"5":23,"6":22,
    "7":26,"8":28,"9":25,
}
SKEY = {
    "!":18,"@":19,"#":20,"$":21,"%":23,"^":22,"&amp;":26,
    "*":28,"(":25,")":29,"_":27,"+":24,"{":33,"}":30,
    "|":42,":":41,'"':39,"&lt;":43,"&gt;":47,"?":44,"~":50,
}

def press(kc, flags=0):
    d = cg.CGEventCreateKeyboardEvent(None, kc, True)
    u = cg.CGEventCreateKeyboardEvent(None, kc, False)
    cg.CGEventSetFlags(d, flags)
    cg.CGEventSetFlags(u, flags)
    cg.CGEventPost(0, d)
    cg.CGEventPost(0, u)
    cf.CFRelease(d)
    cf.CFRelease(u)

text = sys.argv[1] if len(sys.argv) &gt; 1 else ""
time.sleep(0.3)
for c in text:
    lo = c.lower()
    if c.isalpha() and lo in KEY:
        press(KEY[lo], SHIFT if c.isupper() else 0)
    elif c in KEY:
        press(KEY[c])
    elif c in SKEY:
        press(SKEY[c], SHIFT)
    time.sleep(0.02)
PYEOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A7D03CDE-6D8B-4B31-AE4F-77F7E839AC1C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>type</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Fake Type</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D98EA05C-4C68-4C09-BBBC-5C511DCA238A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A7D03CDE-6D8B-4B31-AE4F-77F7E839AC1C</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>D98EA05C-4C68-4C09-BBBC-5C511DCA238A</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
