<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.lanata.lyft.generate</string>
	<key>connections</key>
	<dict>
		<key>1D04A8F9-2E7C-40F3-B6C3-3458D6655429</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D2FADBF-70A1-47C3-B5EF-FF58B8CE9BF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2508E9C8-4FAA-4EEA-9582-C71A88B2A1D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B89B224-8485-4557-AF52-B5D10090B9C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D2FADBF-70A1-47C3-B5EF-FF58B8CE9BF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37B104CC-0C89-46F8-9ED5-4106DB120B49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09F7C4FE-5951-4E3E-9FD5-92029C755ED7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37B104CC-0C89-46F8-9ED5-4106DB120B49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8D80F73-175E-4AB3-8962-9E03DFCFF69D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B89B224-8485-4557-AF52-B5D10090B9C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FED3B8C7-3ECD-4A43-899C-371EA5927512</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B19F090-25AC-4589-97FA-88C2062D3A83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D04A8F9-2E7C-40F3-B6C3-3458D6655429</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FED3B8C7-3ECD-4A43-899C-371EA5927512</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B19F090-25AC-4589-97FA-88C2062D3A83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gabriel Lanata</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lyft Generate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C8D80F73-175E-4AB3-8962-9E03DFCFF69D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd $projectPath &amp;&amp; ./ios generate</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>37B104CC-0C89-46F8-9ED5-4106DB120B49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Xcode"
    return path of document 1 whose name ends with (word -1 of (get name of window 1))
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B89B224-8485-4557-AF52-B5D10090B9C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>make</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Lyft Make</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2508E9C8-4FAA-4EEA-9582-C71A88B2A1D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>/</string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>moduleSplit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>1D04A8F9-2E7C-40F3-B6C3-3458D6655429</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filePath</key>
					<string>{query}</string>
					<key>projectPath</key>
					<string>{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8B19F090-25AC-4589-97FA-88C2062D3A83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:filePath}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>module</key>
					<string>{var:moduleSplit1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2D2FADBF-70A1-47C3-B5EF-FF58B8CE9BF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>/Modules</string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>FED3B8C7-3ECD-4A43-899C-371EA5927512</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:projectPath}</string>
				<key>title</key>
				<string>Began Generating</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>09F7C4FE-5951-4E3E-9FD5-92029C755ED7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09F7C4FE-5951-4E3E-9FD5-92029C755ED7</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>1D04A8F9-2E7C-40F3-B6C3-3458D6655429</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>2508E9C8-4FAA-4EEA-9582-C71A88B2A1D0</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>2D2FADBF-70A1-47C3-B5EF-FF58B8CE9BF7</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>37B104CC-0C89-46F8-9ED5-4106DB120B49</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>7B89B224-8485-4557-AF52-B5D10090B9C4</key>
		<dict>
			<key>note</key>
			<string>Get Currently Focused Xcode File</string>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>8B19F090-25AC-4589-97FA-88C2062D3A83</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>C8D80F73-175E-4AB3-8962-9E03DFCFF69D</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>FED3B8C7-3ECD-4A43-899C-371EA5927512</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>lanata.me</string>
</dict>
</plist>
